.arrow {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}

.arrow--left--program {
  left: 5px;
}

.arrow--right--program {
  right: 5px;
  left: auto;
}

.custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
  color: #ffffff;
  padding: 40px;
}

.custom-swiper .swiper-button-next::after,
.custom-swiper .swiper-button-prev::after {
  font-size: 30px;
}

/* Responsive adjustments */
@media (min-width: 786px) {
  .arrow--left--program {
    left: 20px;
  }

  .arrow--right--program {
    right: 20px;
    left: auto;
  }
}
